/* Font Family
================================================== */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");


/* Global Styles
================================================== */




/* Setup
================================================== */

.column { width:inherit; }


/* Typography / Links
================================================== */

p { color:#fff; display:block; font-size:.9rem; font-weight:400; margin:0 0 2px; }


p a,p a:visited { line-height:inherit; }


/* Misc.
================================================== */

.add-bottom { margin-bottom:2rem !important; }
.left { float:left; }
.right { float:right; }
.center { text-align:center; }
.hidden { display:none; }

.no-support {
margin:2rem auto;
text-align:center;
width:90%;
}


/* Audio Player Styles
================================================== */

audio {
display:none;
}

#audiowrap,
#plwrap {
margin:0 auto;
}

#tracks {
font-size:0;
position:relative;
text-align:left;
margin-top: 20px;
}

#nowPlay {
display:block;
font-size:0;
}

#nowPlay span {
display:inline-block;
font-size:1.05rem;
vertical-align:top;
}

#npAction {
    width: 100%;
    color: white;
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sound-container{
    background-color: #0000004a;
    /* padding: 31px; */
    padding-top: 24px;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 17px;
}


#npTitle {
    text-align: left;
    width: 100%;
    font-weight: bold;
    color: #0cced4;
    font-family: 'Nunito';
    font-size: 20px;
}

#plList li {
cursor:pointer;
display:block;
margin:0;
padding:21px 0;
}

#plList li:hover {
background-color:rgba(0, 0, 0, .1);
}

.plItem {
position:relative;
}

.plTitle {
    left: 50px;
    overflow: hidden;
    position: absolute;
    right: 143px;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;

}

.plNum {
padding-left:21px;
width:25px;
}

.plLength {
    padding-left: 21px;
    position: absolute;
    right: 89px;
    top: 0;
}

.plLengthMove {
    padding-left: 13px;
    position: absolute;
    right: 54px;
    top: 0;
    cursor: pointer;
    z-index: 999;
    color: whitesmoke;
 }

 .plLengthDelete {
    padding-left: 13px;
    position: absolute;
    right: 22px;
    top: 0;
    cursor: pointer;
    z-index: 999;
    color: whitesmoke;
    transition: all 200ms ease;
 }
 .plLengthDelete:hover {
    color: #ed2724;
 }

.plSel,
.plSel:hover {
background-color:rgba(0, 0, 0, .1);
color:#00f8ff;
cursor:default !important;
font-weight: bold;
font-family: 'Nunito';
font-size: 16px;
}

.list-colors{
    font-family: 'Nunito';
    color:whitesmoke
}

.list-colors-item:hover{
    font-family: 'Nunito';
    color:#00f8ff
}

#tracks a {
border-radius:3px;
color:#fff;
cursor:pointer;
display:inline-block;
font-size:2.3rem;
height:40px;
line-height:.2;
margin:0 5px 30px;
padding:12px;
text-decoration:none;
transition:background .3s ease;
background-color: #ffffff1c;
}

#tracks a:hover,
#tracks a:active {
background-color:rgba(255, 255, 255, 0.027);
color:#fff;
}

#tracks a::-moz-focus-inner {
border:0;
padding:0;
}


/* Plyr Overrides
================================================== */

.plyr--audio .plyr__controls {
background-color:#424141 !important;
border:none;
color: #0cced4 !important;
font-family:"Source Sans Pro", arial, sans-serif;
padding:20px 20px 20px 13px;
width:100%;
border-radius: 10px !important;
}

a.plyr__controls__item.plyr__control:hover,
.plyr--audio .plyr__controls button:hover,
.plyr--audio .plyr__controls button.tab-focus:focus,
.plyr__play-large {
background-color:rgba(0, 0, 0, .1);

}

.plyr__progress--played,
.plyr__volume--display {
color:rgba(0, 0, 0, .1);
}

.plyr--audio .plyr__progress--buffer,
.plyr--audio .plyr__volume--display {
background-color:rgba(0, 0, 0, .1);
}

.plyr--audio .plyr__progress--buffer {
color:rgba(0, 0, 0, .1);
}

.plyr--full-ui input[type="range"] {
width:calc(100% - 39px);
}

.plyr__controls .plyr__controls__item.plyr__time {
font-size:14px;
margin-left:7px;
color: whitesmoke !important;
}


/* Media Queries
================================================== */

@media only screen and (max-width:600px) {
    #nowPlay span#npAction { 
        display:none; 
        color: white; 
    }
    #nowPlay span#npTitle { 
        display:block; 
        text-align:center; 
        width:100%;
        color: #00f8ff; 
    }
}

ol, ul, dl {
    margin-top: 0 !important;
    padding: 0 !important;
}