.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 992px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Source', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    background: #383838;
    color: #c7c7c7;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 4px;
    background: #383838;
}

#sidebar ul.components {
    padding: 7px 0;
}

#sidebar ul p {
    color: #495057;
    padding: 10px;
}

#sidebar ul li a {
    padding: 7px;
    font-size: 1.2em;
    display: block;
}

#sidebar ul li a:hover {
    color: #00f8ff;
    background: #404040;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #00f8ff;
    background: #404040;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #404040;
}

.divisor-nav {
    font-weight: bold;
    font-size: 12px;
    font-family: system-ui;
    padding: 9px;
    color:#a5a5a5;
}

main {
    min-height: 100vh;
    background-color: #313131;

    cursor: context-menu;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #0cced4 !important;
    border: solid #0cced4 !important;
    font-size: 16px !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #dae2f0 !important;
    border: solid #dae2f0 !important;
    font-size: 16px !important;
    color: #495057 !important;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    font-size: 16px !important;
    border: solid #e3342f !important;
}