#imagenPortada{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url('../images/portada.jpg');
    background-color: rgba(0,0,0,0.6);
    background-size: cover;
    width:100%;
    height:700px;
}